<% if notice %>
<p id="notice"><%= notice %></p>
]<% end %>


<h1> Our Store items </h1>
<% cache ['store', Product.latest] do %>


<% @products.each do |product| %>
	<div class="entry">
		<% cache ['entry', product] do %>
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<%= sanitize(product.description) %>
		<div class="price_line">
			<div class="price"><span><%= number_to_currency(product.price) %></span>
			<%= button_to('Add to cart', line_items_path(product_id: product), remote: true) %>
			</div>
		</div>
	</div>
		<% end %>
	<% end %>
<% end %>