<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Depot"%>
	<div id="loginbutton">
		<% if session[:user_id] %>
			<%= button_to "Logout", logout_path, :method => :delete %>
		<%else%>
			<%= button_to 'Login', login_path %>
		<% end %>
	</div>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="<%= store_index_path %>">Home</a></li>
				<li><a href="#linkgoushere">Faq</a></li>
				<li><a href="<%= articles_path %>">News</a></li>
				<li><a href="#linkgoushere">Contact</a></li>
				<% if session[:user_id] %>
					<br />
						<%= link_to "Orders", orders_path %><br />
						<%= link_to "Products", products_path %><br />
						<%= link_to "Users", users_path %><br />
						<%= link_to "Add News", new_article_path %><br />

					<br />
				<% end %>
			</ul>
				
			<% if @cart %>
				<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
				<%= render @cart %>
				<%end%>
			<%end%>
		</div>
		<div id="main">


			<%=yield %>
		</div>
	</div>
</body>
</html>
